:root {
  --primarybright: #dfdfdf75;
  --white: #ffffff;
  --black: #000000;
  --bodypanel: rgba(1, 1, 1, 0.344);
  --lightwhite: rgba(255, 255, 255, 0.08);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--white);
  background: var(--black);
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--primarybright);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* Header */
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#header h1 {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
}

#header h2 span {
  border-bottom: 2px solid;
  padding-bottom: 6px;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lightwhite);
  color: var(--white);
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#header .social-links a:hover {
  background: var(--primarybright);
}

/* Navigation Menu */
.nav-menu {
  margin-top: 35px;
}

.nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li+li {
  margin-left: 30px;
}

.nav-menu a {
  position: relative;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.nav-menu a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.nav-menu a:hover:before,
.nav-menu .active>a:before {
  visibility: visible;
  width: 25px;
}

/* Sections General */
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  margin: 4px 10px;
}

/* About */
.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  padding-bottom: 10px;
}

.about-me .content ul i {
  font-size: 20px;
  padding-right: 2px;
}

/* Resume */
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--white);
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--lightwhite);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  border: 2px solid;
}

/* Slider */
.checkbox-slider--b-flat {
  position: relative;
}

.checkbox-slider--b-flat input {
  display: none;
}

.checkbox-slider--b-flat input+span {
  cursor: pointer;
  padding-left: 40px;
}

.checkbox-slider--b-flat input+span:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 40px;
  height: 20px;
  background: rgba(100, 100, 100, 0.2);
  border-radius: 20px;
  transition: background 0.2s ease-out;
}

.checkbox-slider--b-flat input+span:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 20px;
  transition: margin-left 0.1s ease-in-out;
}

.checkbox-slider--b-flat input:checked+span:after {
  margin-left: 20px;
}

.checkbox-slider--b-flat input:checked+span:before {
  background: #000000;
}

/* Responsive */
@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }

  #header h1 {
    font-size: 26px;
  }

  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}